@CHARSET "UTF-8";

/* DO NOT TOUCH EVER EVER AGAIN. */

#acf-group_page_designer tr.oneCol,
#acf-group_page_designer .layout.oneCol {
	width: 9.1%;
	margin-left:1%;
	margin-top:0.5%;
    margin-bottom:0.5%;
	float:left;
}

#acf-group_page_designer tr.twoCol,
#acf-group_page_designer .layout.twoCol {
	width: 19.2%;
	margin-left:1%;
	margin-top:0.5%;
    margin-bottom:0.5%;
	float:left;
}

#acf-group_page_designer tr.threeCol,
#acf-group_page_designer .layout.threeCol {
	width: 29.3%;
	margin-left:1%;
	margin-top:0.5%;
    margin-bottom:0.5%;
	float:left;
}

#acf-group_page_designer tr.fourCol,
#acf-group_page_designer .layout.fourCol {
	width: 39.4%;
	margin-left:1%;
	margin-top:0.5%;
    margin-bottom:0.5%;
	float:left;
}

#acf-group_page_designer tr.fiveCol,
#acf-group_page_designer .layout.fiveCol {
	width: 49.5%;
	margin-left:1%;
	margin-top:0.5%;
    margin-bottom:0.5%;
	float:left;
}

#acf-group_page_designer tr.sixCol,
#acf-group_page_designer .layout.sixCol {
	width: 59.6%;
	margin-left:1%;
	margin-top:0.5%;
    margin-bottom:0.5%;
	float:left;
}

#acf-group_page_designer tr.sevenCol,
#acf-group_page_designer .layout.sevenCol {
	width: 69.7%;
	margin-left:1%;
	margin-top:0.5%;
    margin-bottom:0.5%;
	float:left;
}

#acf-group_page_designer tr.eightCol,
#acf-group_page_designer .layout.eightCol {
	width: 79.8%;
	margin-left:1%;
	margin-top:0.5%;
    margin-bottom:0.5%;
	float:left;
}

#acf-group_page_designer tr.nineCol,
#acf-group_page_designer .layout.nineCol {
	width: 89.9%;
	margin-left:1%;
	margin-top:0.5%;
    margin-bottom:0.5%;
	float:left;
}

#acf-group_page_designer tr.tenCol,
#acf-group_page_designer .layout.tenCol {
	width: 100%;
	margin-left:0;
	margin-top:0.5%;
    margin-bottom:0.5%;
	float:left;
}

/* END OF DO NOT TOUCH EVER EVER AGAIN */