@CHARSET "UTF-8";

/* DO NOT TOUCH EVER EVER AGAIN. */

#acf-group_page_designer tr.oneCol,
#acf-group_page_designer .layout.oneCol {
	width: 24.25%;
	margin-left:1%;
	margin-top:0.5%;
    margin-bottom:0.5%;
	float:left;
}

#acf-group_page_designer tr.twoCol,
#acf-group_page_designer .layout.twoCol {
	width: 49.5%;
	margin-left:1%;
	margin-top:0.5%;
    margin-bottom:0.5%;
	float:left;
}

#acf-group_page_designer tr.threeCol,
#acf-group_page_designer .layout.threeCol {
	width: 74.75%;
	margin-left:1%;
	margin-top:0.5%;
    margin-bottom:0.5%;
	float:left;	
}

#acf-group_page_designer tr.fourCol,
#acf-group_page_designer .layout.fourCol {
	width: 100%;
	margin-left:0;
	margin-top:0.5%;
    margin-bottom:0.5%;
	float:left;
}

/* END OF DO NOT TOUCH EVER EVER AGAIN */