@CHARSET "UTF-8";

/* DO NOT TOUCH EVER EVER AGAIN. */

#acf-group_page_designer tr.oneCol,
#acf-group_page_designer .layout.oneCol {
	width: 11.62%;
	margin-left:1%;
	margin-top:0.5%;
    margin-bottom:0.5%;
	float:left;
}

#acf-group_page_designer tr.twoCol,
#acf-group_page_designer .layout.twoCol {
	width: 24.25%;
	margin-left:1%;
	margin-top:0.5%;
    margin-bottom:0.5%;
	float:left;
}

#acf-group_page_designer tr.threeCol,
#acf-group_page_designer .layout.threeCol {
	width: 36.87%;
	margin-left:1%;
	margin-top:0.5%;
    margin-bottom:0.5%;
	float:left;
}

#acf-group_page_designer tr.fourCol,
#acf-group_page_designer .layout.fourCol {
	width: 49.5%;
	margin-left:1%;
	margin-top:0.5%;
    margin-bottom:0.5%;
	float:left;
}

#acf-group_page_designer tr.fiveCol,
#acf-group_page_designer .layout.fiveCol {
	width: 62.12%;
	margin-left:1%;
	margin-top:0.5%;
    margin-bottom:0.5%;
	float:left;
}

#acf-group_page_designer tr.sixCol,
#acf-group_page_designer .layout.sixCol {
	width: 74.75%;
	margin-left:1%;
	margin-top:0.5%;
    margin-bottom:0.5%;
	float:left;
}

#acf-group_page_designer tr.sevenCol,
#acf-group_page_designer .layout.sevenCol {
	width: 87.37%;
	margin-left:1%;
	margin-top:0.5%;
    margin-bottom:0.5%;
	float:left;
}

#acf-group_page_designer tr.eightCol,
#acf-group_page_designer .layout.eightCol {
	width: 100%;
	margin-left:0;
	margin-top:0.5%;
    margin-bottom:0.5%;
	float:left;
}

/* END OF DO NOT TOUCH EVER EVER AGAIN */